body {
/*  font-family: 'IBM Plex Sans', sans-serif; */
  font-family: 'Inconsolata', monospace;
}

h1, h3 {
  letter-spacing: 3px;
}

h2 {
  
}

p {
  font-weight: 100;
  text-align: left;
  line-height: 90%;
  font-size: .8em
}

.container {
  width: 80%;
  padding: 10%;
  margin: auto;
  ackground-color: rgb(245, 245, 245);
}

.title-banner {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding:5%;
  
  color: white;
}

#main-title {}

#subtitle {}

.bread-card {
  width: 60%;
  padding: 0%;
  margin: auto;
  background-color: rgb(200, 230, 255);
  font-family: 'IBM Plex Sans', sans-serif;
  
  text-align:center;
}

.bread-name {
  letter-spacing: 5px;
}

.bread-image{
  width: 50%;
  margin-left: auto;
}

.bread-motto{
  text-align: left;
  color: rgb(120, 120, 120);
}

.bread-description{}
