body {
  
}

.container {
  width: 80%;
  padding: 5%;
  margin: auto;
  background-color: rgb(245, 245, 245);
  font-family: 'IBM Plex Sans', sans-serif;
  
}

.title-banner {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

#main-title {}

#subtitle {}

.bread-card {
  width: 60%;
  padding: 15%;
  margin: auto;
  background-color: rgb(200, 230, 255);
  text-align:center;
}

.bread-name {
  
}

.bread-image{
  width: 50%;
  margin-left: auto;
}

.bread-motto{}

.bread-description{}
